<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/index.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js" defer></script>
</head>
<body>
    <div class="tip" hidden>
        <p>Hello</p>
    </div>

    <main id="page-main">
        <div class="info-window">

            <div class="modal-container">
                <form id="user-form">
                    <label for="nickname-input">Guest nickname</label>
                    <input type="text" name="nickname" id="nickname-input">
                </form>
            </div>

            <button class="btn" id="online-users-btn">Online users</button>
            <div id="online-users-modal" hidden>
                <h3>Usuários online</h3>
                <ul>

                </ul>
            </div>

            <ul id="messages">

            </ul>
            <form action="" id="form">
                <input type="text" autocomplete="off" id="input" /><button>Send</button>
            </form>
        </div>
    </main>
    
</body>
</html>